/* SIDEBAR */
/* Floating bookmark/history sidebar */
#sidebar-box {
    position: fixed !important;
    top: 10px !important;
    left: 20px !important;
    width: 240px !important;
    height: calc(100vh - 20px) !important;
    z-index: 9999 !important;
    border-radius: 12px !important;
    overflow: hidden !important;
    background: light-dark(rgb(255, 255, 255), rgb(0, 0, 0)) !important;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4) !important;
}
#sidebar-splitter {
    display: none !important;
}
#appcontent {
    margin-left: 0 !important;
}
