[id="1760635303357-66"] image, /* Pirated Media */
[id="1760635001487-86"] image, /* AI's */
[id="1760635303279-47"] image, /* Arch Linux */
[id="1760635303381-55"] image, /* Project & Learning */
[id="1760635001460-28"] image  /* Personal Fun Projects */ {
    -moz-context-properties: fill, stroke !important;
}

[id="1760635303357-66"] image { fill: rgb(255, 16, 83) !important; }
[id="1760635001487-86"] image { fill: rgb(0, 127, 255) !important; }
[id="1760635303279-47"] image { fill: rgb(127, 127, 255) !important; }
[id="1760635303381-55"] image { fill: rgb(0, 255, 127) !important; }
[id="1760635001460-28"] image { fill: rgb(255, 223, 0) !important; }
