/*=============== Opposite Side Glace Buttons =================== */
.zen-glance-sidebar-container {
    left: auto !important;
    right: 100% !important;
    inset-inline-end: 100% !important;
}

#main-window[zen-right-side="true"] .zen-glance-sidebar-container {
right: auto !important;
left: 100% !important;
inset-inline-start: 100% !important;
}
