:root {
    --primary: #a0d490;
    --primary-mixed: color-mix(in srgb, #a0d490 50%, black 50%);
    --secondary-mixed: color-mix(in srgb, var(--primary-mixed) 20%, white 80%);
    --bg-light: rgba(255, 255, 255, 0.8);
    --bg-dark: rgba(0, 0, 0, 0.8);
    --blur: 100px;
    --border-light: rgba(20, 20, 20, 0.1);
    --border-dark: rgba(235, 235, 235, 0.1);
    --glass-bg: color-mix(in srgb, var(--secondary-mixed) 75%, transparent);
    --glass-shadow-light: color-mix(in srgb, var(--secondary-mixed) 75%, black);
    --glass-shadow-dark: color-mix(in srgb, var(--secondary-mixed) 75%, white);
    --hover-light: rgba(29, 29, 29, 0.1);
    --hover-dark: rgba(235, 235, 235, 0.1);
    --active-light: rgba(0, 0, 0, 0.07);
    --active-dark: rgba(255, 255, 255, 0.11);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-mixed: color-mix(in srgb, #a0d490 20%, #1d1d1d 80%);
        --secondary-mixed: color-mix(in srgb, #a0d490 30%, #1d1d1d 70%);
    }
}

body:has(.player-holder) html,
body:has(.player-holder) .player-holder,
body:has(#controls) html,
body:has(#controls) .player-holder {
    border-radius: 9px;
    overflow: hidden;
}

body:has(.player-holder) .player-holder,
body:has(#controls) .player-holder {
    border-radius: 7.6px;
    clip-path: none;
}

@media (-moz-platform: windows) {
    body:has(.player-holder) window,
    body:has(.player-holder) html,
    body:has(.player-holder) body,
    body:has(#controls) window,
    body:has(#controls) html,
    body:has(#controls) body {
        border-radius: 9px;
    }
}

@keyframes pip-fadein-html {
    0% { background-color: transparent; scale: 0.8; }
    99% { background-color: transparent; scale: 1; }
    100% { background-color: black; }
}

@keyframes pip-fadein-player {
    0% { filter: blur(30px); opacity: 0; }
    70% { filter: blur(5px); }
    100% { filter: blur(0); opacity: 1; }
}

body:has(.player-holder) html,
body:has(#controls) html {
    animation: pip-fadein-html 0.5s ease;
    will-change: scale;
}

body:has(.player-holder) .player-holder,
body:has(#controls) .player-holder {
    animation: pip-fadein-player 0.5s ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    will-change: filter, opacity;
}

#controls {
opacity: 1;
}

#controls > button {
opacity: 0;
top: 0;
filter: blur(5px);
border-radius: 6px;
transition: opacity 0.3s ease, top 0.3s ease, filter 0.3s ease, background-color 0.2s ease;
backdrop-filter: saturate(1.5) contrast(1.2) blur(var(--blur));
background-image: none;
background-color: light-dark(var(--bg-light), var(--bg-dark));
box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
border: 2px solid light-dark(var(--border-light), var(--border-dark));
will-change: opacity, top, filter;
}

#controls > button::before {
content: "";
width: 16px;
height: 16px;
padding: 2px;
display: flex;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
align-content: center;
justify-content: center;
fill: light-dark(black, white);
}

#controls > button:hover {
background-color: black;
}

#close::before {
content: url("chrome://browser/skin/zen-icons/close.svg");
}

#minimize::before {
content: url("chrome://browser/skin/zen-icons/unpin.svg");
}

#unpip::before {
content: url("chrome://browser/skin/zen-icons/screen.svg");
}

#controls-bottom-gradient {
display: none;
}

#controls-bottom {
opacity: 0;
bottom: -5px;
background-color: light-dark(var(--bg-light), var(--bg-dark));
border-radius: 10px;
padding: 10px 15px;
margin: 0 5px 5px;
width: min(calc(100% - 10px), 700px);
box-sizing: border-box;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
backdrop-filter: saturate(3) contrast(2) blur(var(--blur));
filter: blur(10px);
transition: opacity 0.3s ease, bottom 0.3s ease, filter 0.3s ease;
border: 2px solid light-dark(var(--border-light), var(--border-dark));
left: calc(50% - 5px);
transform: translateX(-50%);
will-change: opacity, bottom, filter;
}

#controls-bottom .start-controls {
display: none;
}

@media (width > 300px) {
    #controls-bottom .start-controls {
    display: flex;
    }
}

#controls-bottom .start-controls #timestamp {
font-size: 12px;
color: light-dark(black, white);
}

#controls-bottom .end-controls {
display: flex;
}

#controls-bottom #scrubber,
#controls-bottom #audio-scrubber {
margin: 0;
}

#controls-bottom #scrubber::-moz-range-progress {
background: white;
}

#controls-bottom #scrubber::-moz-range-track,
#controls-bottom #audio-scrubber::-moz-range-track {
background-color: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}

#controls-bottom #scrubber::-moz-range-thumb,
#controls-bottom #audio-scrubber::-moz-range-thumb {
background: white;
width: 12px;
height: 12px;
border: none;
}

#controls-bottom #audio-scrubber::-moz-range-thumb {
width: 8px;
height: 8px;
opacity: 1;
}

#controls-bottom button,
#settings button {
opacity: 1;
position: relative;
padding: 6px;
background-size: 16px;
width: 28px;
height: 28px;
border-radius: 6px;
transition: background-color 0.2s ease;
-moz-context-properties: fill;
fill: light-dark(black, white);
}

#controls-bottom button[disabled],
#settings button[disabled] {
cursor: default;
fill-opacity: 0.4;
}

#controls-bottom button[disabled]::after,
#settings button[disabled]::after {
display: none;
}

#controls-bottom button:not([disabled]):hover,
#settings button:not([disabled]):hover {
background-color: light-dark(var(--hover-light), var(--hover-dark));
}

#controls-bottom button:not([disabled]):active,
#settings button:not([disabled]):active {
background-color: light-dark(var(--active-light), var(--active-dark));
}

#controls-bottom button#playpause {
background-image: url("chrome://browser/skin/zen-icons/media-play.svg");
}

#controls-bottom button#audio {
background-image: url("chrome://browser/skin/zen-icons/media-unmute.svg");
}

#controls-bottom button#seekBackward {
background-image: url("chrome://browser/skin/zen-icons/reload.svg");
scale: -1 1;
}

#controls-bottom button#seekBackward::before,
#controls-bottom button#seekForward::before {
content: "5";
font-size: 8px;
position: absolute;
top: 50%;
left: 50%;
}

#controls-bottom button#seekBackward::before {
transform: translate(50%, -50%);
scale: -1 1;
}

#controls-bottom button#seekBackward::after {
scale: -1 1;
}

#controls-bottom button#seekForward {
background-image: url("chrome://browser/skin/zen-icons/reload.svg");
}

#controls-bottom button#seekForward::before {
transform: translate(-50%, -50%);
}

#controls-bottom button#fullscreen {
background-image: url("chrome://browser/skin/zen-icons/fullscreen.svg");
}

#controls-bottom .controls-bottom-upper {
margin: 0 0 5px;
width: 100%;
height: fit-content;
}

#controls-bottom .controls-bottom-upper .scrubber-no-drag {
margin: 0;
}

#controls-bottom .controls-bottom-upper:has(#scrubber[hidden]) {
display: none;
margin: 0;
}

#controls-bottom .controls-bottom-lower {
margin: 0;
}

#settings {
bottom: 80px;
right: 0;
display: block;
transition: opacity 0.3s ease, bottom 0.3s ease;
}

#settings .arrow {
display: none;
}

#settings label,
#settings legend {
font-family: system-ui;
color: light-dark(black, white);
}

#settings .slider {
background-color: rgba(0, 0, 0, 0.07);
outline: 1px solid light-dark(#8f8f9d, #bfbfc9);
}

#settings .slider::before {
background-color: light-dark(#8f8f9d, #bfbfc9);
}

#settings input:checked {
border-color: light-dark(var(--primary-mixed), var(--primary));
}

#settings input:checked + .slider {
background-color: light-dark(var(--primary-mixed), var(--primary));
outline-color: light-dark(var(--primary-mixed), var(--primary));
}

#settings input:checked + .slider::before {
background-color: white;
}

#settings > .panel-fieldset {
background-color: var(--glass-bg);
backdrop-filter: blur(15px);
filter: blur(0);
transition: backdrop-filter 0.3s ease, filter 0.3s ease;
border: 1px solid light-dark(rgba(20, 20, 20, 0.2), rgba(235, 235, 235, 0.3));
box-shadow: 0 0 10px light-dark(var(--glass-shadow-light), var(--glass-shadow-dark));
padding: 0;
will-change: filter;
}

#settings .grey-line {
width: calc(100% - 10px);
margin: 0 auto;
background-color: light-dark(rgba(20, 20, 20, 0.2), rgba(235, 235, 235, 0.3));
}

#settings.hide {
bottom: 70px;
opacity: 0;
pointer-events: none;
}

#settings.hide > .panel-fieldset {
backdrop-filter: none;
filter: blur(5px);
}

#controls.muted #controls-bottom #audio {
background-image: url("chrome://browser/skin/zen-icons/media-mute.svg");
}

#controls.playing #controls-bottom #playpause {
background-image: url("chrome://browser/skin/zen-icons/media-pause.svg");
}

body:fullscreen #controls[showing]:hover > button,
body:not(:fullscreen) #controls:hover > button {
    opacity: 1;
    top: 10px;
    filter: blur(0);
}

body:fullscreen #controls[showing]:hover #controls-bottom,
body:not(:fullscreen) #controls:hover #controls-bottom {
    opacity: 1;
    bottom: 5px;
    filter: blur(0);
}

body:fullscreen:has(#controls:not([showing])) {
    cursor: none;
}

body:fullscreen #controls #controls-bottom #fullscreen {
    background-image: url("chrome://browser/skin/zen-icons/fullscreen-exit.svg");
}
