html[zen-single-toolbar="true"] #urlbar:not([open]) { height: 40px !important; }
#identity-icon-box { background: none !important; }

/* Center text */
#urlbar .urlbar-input, .urlbar-input-container {
text-align: center !important;
position: relative;
}

/* Blur effect when open/focused */
#urlbar[open] .urlbar-background,
#urlbar[focused="true"] .urlbar-background {
background: rgba(0, 0, 0, 0.25) !important;
backdrop-filter: blur(24px) saturate(140%) !important;
border-radius: 14px !important;
box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25) !important;
}

html:has(#urlbar[open]) .browserContainer { filter: blur(10px); }

/* URL bar icon order */
#zen-copy-url-button { order: 999 !important; }
#identity-box { order: -999 !important; }
